@charset "UTF-8";
SELECT {float:left; height: 1.6em; width: 100%;     border: 1px solid grey;     margin-bottom: .6em;     color: #4F4F4F;     font-weight: 300;     font-size: .8em;     font-family: "Open Sans"; }
INPUT {background-color: transparent; color: #4F4F4F; font-size: .8em; width: 100%; text-align: center; border: 1px solid grey; height:1.5em; margin-top:0em; font-family: "Open Sans";}
.simpleCart_items  {}
#selector_productos_cotizacion {width: 1080px; height: 490px; border-top: 1px solid transparent; }
#form_data_cotizacion { overflow: hidden; height: 0; }
.jspPane {height: 1120px !important; }
.campo_cotizacion {border: 1px solid transparent; height: 30px; width: 716px; margin-bottom: 16px; float: left; position:relative; }
.item-fechaentrega .simpleCart_input {width: 100%; }
.item-fechaentrega {border: 1px solid transparent; width: 144px; height: 47px; }
#container_totals {border: 1px solid transparent; float: left; width: 138px; position: relative; top: 15px; }
#column1 {width: 717px; border: 1px solid transparent; float: left; margin-left: 248px; margin-top: 31px; }
.bt_login {background-image: url(/images/interface/btn_datos_correctos.png); font-size: 7pt; width: 24px !important; background-repeat: no-repeat; border: 1px solid transparent; height: 23px !important; background-position: top left; float: left; line-height: 100pt; margin-right: .5em; overflow: hidden; display: block; }
.bt_login:hover {background-position: bottom left; }
.datos_ok {background-position: bottom left; }
#selector_productos_cotizacion {float: left; width: 1055px; height: 460px; overflow: auto; overflow-x: hidden; margin-top: 0px; margin-left: 0px; border-bottom: 1px solid #CFD0D2; border: 1px solid #CFD0D2; }
.headerRow {float: left; height: 0; overflow: hidden; } 
.itemRow  {border: 1px dotted grey; padding-top: 1.5em; padding-bottom: 1em;}
.itemRow DIV {float: left; position: relative; }
.simpleCart_sizes {width: 90px; }
.item-size {border: 1px solid #000000; visibility: hidden; }
.ocultar {border: 3px solid transparent; color: #FEFEFE; }
.otro_width_oculto {width: 0 !important; }
.otro_width_visible {width: 148px !important; }
.error {background-color: #E41836 !important; color: #fff !important; }
#errorMsg {  background-color: rgb(228, 24, 54); float: left; padding: 1em; height: auto; margin-bottom: 1em; width: 60%; margin-left: 8%; }
#errorMsg OL {visibility: hidden; height:0;}
#errorMsg H3{color:white; }
.item-material {visibility: hidden; width: 0; height: 0; }
.item-cantmin, .item-unidades {width: 0px; visibility: hidden; height: 0px}
.forma_cotizar_show { visibility: visible !important; height: auto !important; overflow: visible !important; }
.btn_hidden {visibility: hidden; }
.selector_productos_cotizacion_short {height: 336px !important; }
.button_acceso_cotizar STRONG {padding-left:8px; }
.solicitar_disabled {visibility:hidden; width:0 !important; padding:0 !important; }
.itemRow div {padding-left:1em;padding-right:1em;}
.height-3 {height:3.5em;}
.item-tipo:before{ content:"SELECCIONE EL TIPO DE MATERIAL"; font-size: .7em; display:block; width:100%; white-space:nowrap; }
.item-empacar:before{ content:"¿ QUÉ PRODUCTO DESEA EMPACAR ?"; font-size: .7em; display:block; width:100%; }
.item-sizes:before{ content:"SELECCIONE UNA MEDIDA SUGERIDA"; font-size: .7em; display:block; width:100%; white-space:nowrap; }
.item-tintasfte:before{ content:"TINTAS FRENTE"; font-size: .7em; display:block; width:100%; white-space:nowrap; }
.item-tintasvta:before{ content:"TINTAS VTA"; font-size: .7em; display:block; width:100%; white-space:nowrap; }
.item-eventos:before{ content:"¿ TIENE USTED ALGÚN EVENTO ?"; font-size: .7em; display:block; width:100%; white-space:nowrap; }
.item-quantity:before{ content:"CANTIDAD"; font-size: .7em; display:block; width:100%; white-space:nowrap; }
.item-ancho:before{ content:"ANCHO"; font-size: .7em; display:block; width:100%; white-space:nowrap; }
.item-alto:before{ content:"X ALTO"; font-size: .7em; display:block; width:100%; white-space:nowrap; }
.item-base:before{ content:"/ FONDO"; font-size: .7em; display:block; width:100%; white-space:nowrap; }
.item-observaciones:before{ content:"OBSERVACIONES"; font-size: .7em; display:block; width:100%; white-space:nowrap; }
.item-observaciones .simpleCart_input {border:1px solid grey; width: 100%; height: 6.1em; resize:none; font-family: "Open Sans"; margin-bottom: .8em}
.item-observaciones { float: right !important; }
.item-thumb {border: 1px solid rgba(199, 197, 197, 1); text-align: center; border: 1px solid rgba(239, 239, 239, 0); overflow: hidden;}
.item-thumb IMG {margin-left: auto; margin-right: auto; border: 1px solid #BCBCBC; width: 80%; height: auto;}

.item-name {padding-top: .5em; font-weight: 600;  line-height: 1;}
.item-name:after{ content:"\A POR FAVOR LLENE EL \A SIGUIENTE FORMULARIO"; white-space: pre; font-size: .8em; font-weight: 400; line-height: 1.3;display: block;margin-bottom: 1em;margin-top:-.5em; }


.item-quantity{padding:0 !important;height: 3em;}
.paddings_form_input {padding-left:1em; padding-right:1em;}
.paddings_form_inside_level1 {padding-left:1.1em !important; padding-right:1.1em !important;}
label {width:100%; display:block; font-size: .7em; white-space:nowrap;}
INPUT {width:100%; display:block; margin-bottom: .6em}


.ico_btn , .ico_caracteristicas {fill: currentColor;}
.ico_btn svg, .ico_btn svg g, .ico_caracteristicas svg, .ico_caracteristicas svg g, .ico_trash, .ico_decrement, .ico_increment {fill: currentColor}

.ico_trash {width:2rem;height:2rem;position: relative;top:0em}

.item-decrement, .item-increment { padding-bottom: .25em;;}
.item-decrement{padding-right:0 !important; padding-top:1.9rem;}
.item-increment{padding-left:0 !important; padding-top: .9rem;}
.ico_decrement {width:1.5rem;height:1.5rem;margin-top:-1.1em;right:.5em;position: relative;float:right;}
.ico_increment {width:1.5rem;height:1.5rem;float: left;}

.item-remove { padding-right: 1.5% !important;    margin-bottom: 2em;}
.item-logo {margin-left: 3% !important; width: 30%;}
.item-quantity INPUT {margin-bottom: 0;    width: 93%;}
    

.btn_bottom{text-align:right; display:block; width:100%; padding:.5em;color:currentcolor; font-size:.7em;border-top:1px solid rgb(199, 197, 197);border:1px solid rgb(199, 197, 197);}
.btn_bottom span {color:#404040;}
.btn_bottom:hover{background-color:#e51937;color:white;}
.btn_bottom:hover span {color:white;}


.btn_bottom:hover svg g, .btn_bottom:hover:hover svg {fill:white !important;}
.redtxt a:hover{background-color:#e51937;color:white;}
.goldtxt a:hover{background-color:#c38236;color:white;}
.bluetxt a:hover{background-color:#3FA9F5;color:white;}
.greentxt a:hover{background-color:#578E00;color:white;}
.orangetxt a:hover{background-color:#E25010;color:white;}

.svg_gold svg path { fill: inherit; }
.svg_red use { fill:#e51937; }
.svg_gold use { fill:#c38236; }
.svg_blue use { fill:#3FA9F5; }
.svg_green use { fill:#578E00; }
.svg_orange use { fill:#E25010; }


.simpleCart_items .papel use { fill:#c38236; }


.button_regresar_cotizar {float: right;}

.btn_bottom i{color:#e51937;	}



.media-box-more .btn_bottom{width:16em;float:right;margin-right: 1em; border:1px solid rgb(220, 218, 218); background-image: none; padding-right: 1em;}
.media-box-more .fa-square{color:#e51937;top:-.6em;}
.media-box-more .fa-cart-plus{color:white;top:-3.5em;left:.8em;}
.media-box-more .fa-lg{left:-4em}
.media-box-more .span_button{font-size:1.2em;}
.simpleCart_remove {float:right; color:grey; text-decoration: none; font-size:.9em; margin-bottom: .2em; text-align: right;}
.simpleCart_remove:hover {color:#e51937;}
.simpleCart_remove i {color:#e51937; margin-right: 0}
.simpleCart_remove:hover i {color:grey;}
.simpleCart_decrement {color:#e51937;}
.simpleCart_increment {color:#e51937;}
.simpleCart_decrement:hover {color:rgb(88, 89, 91);}
.simpleCart_increment:hover {color:rgb(88, 89, 91);}
.simpleCart_increment i {float:left;}
.simpleCart_decrement i {float:right;}
#btn_solicitar_cotizacion {width: 100%; background-repeat: no-repeat; background-position: bottom left; display:block; background-image:url(/images/responsive/gradiente-down.svg); background-color:#e51937; padding:.5em; color:white; text-decoration: none; font-size:.9em; text-align:right; }
#btn_solicitar_cotizacion:hover {background-color:inherit; color:rgb(88, 89, 91); }
#form_data_cotizacion .fa-asterisk {font-size:.7em;position:relative;top:.4em;}
#grid{margin-left: -6px!important}
#header_carrito {visibility: hidden;height: 0}
.show_header_carrito {visibility:visible!important;height: 5em!important;}
.container_content_single_column H1 {margin-top: 19px; }
.container_descripcion_producto H1 {font-weight: 800; width: 54%; float: right; margin-right: 10px; }
.menu_top_set {background-position: 0 65px; }
#label_slider H3 {font-size: 12pt; margin-bottom: 0; }
.color_rojo {color: #E41836; }
.container_descripcion_producto P {width: 54%; float: right; margin-right: 10px; }
.container_descripcion_producto H2 {font-weight: 400; color: #595959; width: 54%; float: right; margin-right: 10px; }
.container_content_single_column {float: left; width: 1080px; text-align: left; z-index: 1; position: relative; background-color: #FEFEFE; height: 1670px; }
.menubolsas_set2 {background-position: 0px 0px; }
.container_descripcion_producto {margin-left: 40px; width: 1009px; height: auto; margin-top: 16px; position: relative; }
#label_slider {float: left; position: relative; top: 0px; margin-left: 40px; }
.container_descripcion_producto_top {float: left; width: 1080px; padding-bottom: 0px; height: 500px; }
.container_descripcion_interno {float: left; position: relative; top: -1px; }
#tabla_cant_min {text-align: center; margin-top: 22px; height: 20px; }
.tabla_tam {text-align: left; height: 21px; padding-left: 88px !important; width: 64px !important; }
.menubolsas_set2:hover {background-position: 0 -65px; }
#container_slider_bolsas_owl_2 .center_image_owl {width: 240px !important; border: 1px solid #EEEEEE; height: 262px; background-color: #FDFDFD; text-align: center; margin-top: 6px; margin-right: 8px; overflow: hidden; }
.center_image_owl {float: left; }
#container_slider_bolsas_owl_2 .center_image_owl IMG {top: 0px; bottom: 0px; border: 1px solid #FEFEFE; margin-top: auto; margin-bottom: auto; margin-left: auto !important; margin-right: auto; float: inherit; }
#container_slider_bolsas_owl_2 {float: left; width: 1018px; height: 537px; margin-left: 9px; padding-bottom: 9px; padding-left: 30px; overflow-y: scroll; }
#imagen_big {float: left; border: 1px solid #EFEFEF; margin-left: 0px; margin-bottom: 46px; max-width: 44%; margin-top: 18px; }
.tabla_especificaciones_col3 #tabla_cant_min {width: 100%; margin-top: 39px; font-size: 10pt; }
.tabla_especificaciones_col2 {padding-top: 29px; }
.tabla_especificaciones_col1 #tabla_tipo_agarradera {margin-top: 29px; width: 100%; text-align: center; font-size: 10pt; text-transform: uppercase; }
.tabla_especificaciones_col1 #tabla_material_bolsa {margin-top: 50px; width: 100%; text-align: center; font-size: 10pt; text-transform: uppercase; }
.tabla_especificaciones_col1 {width: 158px; height: 122px; }
.tabla_especificaciones_col2 {width: 221px; height: 122px; }
.tabla_especificaciones_col3 {width: 160px; height: 122px; }
.tabla_especificaciones_col2 .tabla_tam {width: 141px !important; margin-left: 80px; text-align: center; padding-left: 0 !important; margin-bottom: 2px; font-size: 10pt; }
.variables_bolsa {height: 0px; visibility: hidden; }
.media-boxes-load-more-button {font-size: .85em !important; float: left; width: 100%; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=); background: -moz-linear-gradient(top, rgba(160,160,160,0.65) 0%, rgba(160,160,160,0.64) 1%, rgba(229,229,229,0.42) 35%, rgba(255,255,255,0) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(160,160,160,0.65)), color-stop(1%,rgba(160,160,160,0.64)), color-stop(35%,rgba(229,229,229,0.42)), color-stop(100%,rgba(255,255,255,0))); background: -webkit-linear-gradient(top, rgba(160,160,160,0.65) 0%,rgba(160,160,160,0.64) 1%,rgba(229,229,229,0.42) 35%,rgba(255,255,255,0) 100%); background: -o-linear-gradient(top, rgba(160,160,160,0.65) 0%,rgba(160,160,160,0.64) 1%,rgba(229,229,229,0.42) 35%,rgba(255,255,255,0) 100%); background: -ms-linear-gradient(top, rgba(160,160,160,0.65) 0%,rgba(160,160,160,0.64) 1%,rgba(229,229,229,0.42) 35%,rgba(255,255,255,0) 100%); background: linear-gradient(to bottom, rgba(160,160,160,0.65) 0%,rgba(160,160,160,0.64) 1%,rgba(229,229,229,0.42) 35%,rgba(255,255,255,0) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6a0a0a0', endColorstr='#00ffffff',GradientType=0 ); margin-bottom: 0; margin-top: 0; border-bottom: 2px solid grey; margin-left: 0; }

.carrito_vacio {height:0;padding:0 !important}
.carrito_vacio .header_carrito {height:0;margin: 0}
.carrito_vacio .button_acceso_cotizar  {height:0;margin: 0}

.requerido:before{content: "*"; display: block; width: .8em; height: 1em; color: #CF0A2C; margin-right: 0; float: left; font-size: 1.3em;}

@media only screen and (max-width:767px) {
	.show_header_carrito {visibility: visible!important; height: auto !important; margin-bottom: 1em; }
	.button_regresar_cotizar {max-width:100%;float:left;}
	.simpleCart_items>div {width: 109%;margin-left: -4.3%;}
	.simpleCart_input, .simpleCart_select{ font-size: 16px !important; }
}

@media only screen and (min-width:768px) and (max-width:991px) {
	.odd{ padding-left: 0em; padding-right: 0em; }
	.even{padding-left: 3em; padding-right: 3em; }
	.item-decrement{padding-top:1.7rem;}
    .item-increment{padding-top: .7rem;}
    .item-observaciones .simpleCart_input { height: 6.3em;}
}	



@media only screen and (min-width:992px) {
	.odd{padding-left: 0em; padding-right: 0em; float:left !important; margin-top: -0.1em; }
	.even{padding-left: 0em; padding-right: 0em; } 
	INPUT, SELECT{ font-size: .9em; }
}
